@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.products {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: bisque;

  @include tablet {
    padding: 4rem 5rem;
  }

  @include desktop {
    padding: 1rem 10rem;
  }

  &__title {
    &-text {
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      font-size: 2rem;
      font-weight: 100;
      padding-bottom: 2rem;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
  }

  &__card {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;

    &-img {
      width: 100%;
      padding-bottom: 1.5rem;
    }

    &-title {
      padding-bottom: 1rem;
      text-transform: capitalize;
    }

    &-price {
      color: $primary-color;
    }
  }

  &__card:hover {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  }

  &__btn {
    display: flex;
    justify-content: center;

    &-link {
      text-decoration: none;
      color: white;
    }
    &-text {
      background: $primary-color;
      text-transform: uppercase;
      padding: 0.6rem;
      text-align: center;

      @include tablet {
        width: 70%;
      }

      @include desktop {
        cursor: pointer;
      }
    }
  }
}
