@use "../../styles/partials/mixins" as *;

.nav {
  padding: 1rem;
  background-color: #177e89;
  color: white;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    padding: 5rem;
    font-size: 2rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding-bottom: 0.3rem;
    &-link {
      text-decoration: none;
      color: inherit;
    }
    &-text {
      font-style: italic;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    list-style: none;

    @include tablet {
      flex-direction: row;
      gap: 0.6rem;
      font-size: 0.9rem;
    }

    @include desktop {
      font-size: inherit;
    }

    &-item {
      align-self: center;
    }
    &-item:hover {
      color: #dda15e;
    }
  }
}
